.breadcrambs {
    display: flex; 
    gap: 9px;
    align-items: center;
    margin-bottom: 17px;
}

.breadcrambs a {
    font-family: "Avenir Next";
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #ababab;
    transition: var(--trans);
}

.breadcrambs a:hover {
    color: var(--color_dark) !important;
}

.breadcrambs a:last-of-type {
    color: var(--color_dark);
}

.breadcrambs svg {
    width: 7px;
    height: 14px;
    transform: rotate(180deg);
}

h1 {
    font-family: "Nyght Serif";
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 29px;
    color: var(--color_dark);
}

.filter-sidebar.open {
    left: 0;
}

.filter-sidebar {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background: var(--white, #fff);
  box-shadow: 0px 0px 14px 0px #54483D1A;
  padding: 15px 40px;
  position: fixed;
  top: 0;
  left: -100%;
  max-width: 500px;
  overflow: hidden;
  -webkit-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
  overflow-y: auto;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--color_lite);
    margin-bottom: 21px;
}

.filter-header h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: #54483D;
    padding-bottom: 3px;
}

.filter-header .close-filter-btn {
    font-family: "Nyght Serif";
    font-weight: 400;
    font-size: 32px;
    color: #D0C5B5;
    transform: rotate(45deg);
    background-color: transparent;
}

.filter-sidebar .filters-content {
    flex-direction: column;
    gap: 22px;
}

.filter-sidebar .submit-filters {
    margin-top: 90px;
}

.filters {
    border-top: 2px solid var(--color_dark);
    border-bottom: 2px solid var(--color_dark);
    padding-top: 16px;
    padding-bottom: 9px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
}

.filters h3 {
    font-family: "Nyght Serif";
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    color: var(--color_dark);
    margin-bottom: 11px;
}

.filters-content {
    display: flex;
    gap: 48px;
    margin-bottom: 2px;
    transition: max-height 0.4s ease, opacity 0.2s ease 0.2s;
}

#filters-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.filters-content fieldset {
    margin: 0;
    max-width: 222px;
}

.filters-content legend {
    font-family: "Avenir Next";
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: #000;
}

.filters-content label.checkbox {
    color: var(--small-text);
}

.price-filter {
    max-width: 219px;
    margin: auto;
    margin-top: 14px;
}

.range-slider {
    position: relative;
    height: 40px;
}

input[type="range"] {
    position: absolute;
    width: 100%;
    pointer-events: none;
    appearance: none;
    background: none;
}

input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    background: var(--color_dark);
    transform: rotate(45deg);
    border: none;
    margin-top: -4px;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    height: 12px;
    width: 12px;
    background: var(--color_dark);
    transform: rotate(45deg);
    border: none;
    cursor: pointer;
}

.slider-track {
    position: absolute;
    height: 3px;
    background: var(--color_dark);
    border-radius: 3px;
    z-index: -1;
}

.slider-background {
    position: absolute;
    height: 3px;
    background: var(--color_lite); 
    width: 100%;
    z-index: -2;
}

.price-inputs {
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
    gap: 25px;
    align-items: center;
}

.input {
    width: 67px;
}

.input input {
    padding-bottom: 0;
}

.dash {
    width: 19px;
    height: 2px;
    background-color: var(--color_lite);
}

#max-input, #max-input-side {
    text-align: end;
}

fieldset:has(.submit-filters) {
    display: flex;
    flex-direction: column;
}

.submit-filters {
    align-self: flex-end;
    justify-self: flex-end;
    padding: 8px 11px;
    width: 216px !important;
}

.filters-btn-container {
    order: 3;
    text-align: center;
}

label.btn-for-filters {
    justify-content: center;
    margin: 0 auto;
    width: 25px;
}

.btn-for-filters span {
    font-family: "Nyght Serif";
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    transition: transform 0.4s ease-in-out;
}

.filters-btn-container:has(#filters-btn:checked) ~ #filters-content {
    max-height: 240px; 
    opacity: 1;
    transition: max-height 0.4s ease, opacity 0.2s ease;
}

@media (max-width: 1169px) {
    .filters-btn-container:has(#filters-btn:checked) ~ #filters-content {
        max-height: 270px;
    }
}

@media (max-width: 1110px) {
    .filters-btn-container:has(#filters-btn:checked) ~ #filters-content {
        max-height: 290px;
    }
}

@media (max-width: 1080px) {
    .filters-btn-container:has(#filters-btn:checked) ~ #filters-content {
        max-height: 310px;
    }
}

.btn-for-filters:has(#filters-btn:checked) span {
    transform: rotate(315deg);
}

.sort-by {
    margin-bottom: 43px;
}

.sort-by h4 {
    font-family: "Avenir Next";
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: var(--small-text);
    margin-bottom: 7px;
}

.sort-by-items {
    display: flex;
    gap: 24px;
}

.sort-by-items label, .sort-by-options label {
    padding: 10px 18px;
    background-color: var(--color_lite);
    color: var(--color_dark);
    font-family: "Nyght Serif";
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    transition: var(--trans);
    cursor: pointer;
}

.sort-by-items label:has(input[type="checkbox"]:checked),
.sort-by-items label:hover {
    background-color: var(--color_dark);
    color: var(--color_lite);
}

.filter-and-sort {
    display: none;
}

.product-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(405px, 1fr));
    grid-auto-rows: 527px;
    gap: 20px;
    margin-bottom: 52px;
}
  
.product-card {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
  
.product-card.large {
    grid-column: span 2;
    grid-row: span 2;
    background: none;
    padding: 0;
    padding-bottom: 20px;
}
  
.product-card.large .product-background {
    background-image: url('../img/product_photo_big1.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.product-content {
    border-radius: 8px;
    z-index: 1;
    height: 527px;
    width: 100%;
}

.product-card.large .product-content {
    width: 405px
}

.product-img {
    position: relative;
    max-height: 380px;
}

.product-img img {
    max-height: 380px;
    object-fit: cover;
    margin-right: auto;
    margin-left: auto;
}

.product-info {
    text-align: center;
    margin-top: 23px;
}

.gallery-pagination {
    margin: 0 auto;
    max-width: 250px;
    margin-bottom: 25px;
}

.pagination-buttons {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
}

.pagination-buttons button {
    background-color: transparent;
}

.page-number, .dots {
    padding: 0 2px;
    font-family: "Avenir Next";
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--color_dark);
    transition: var(--trans);
}

.page-number.active, .page-number:hover {
    color: var(--color_lite);
}

.page-arrow, .page-arrow svg {
    width: 7px;
    height: 14px;
}

.page-arrow svg path {
    transition: var(--trans);
}

.page-arrow:hover svg path {
    fill: var(--color_dark);
}

.page-arrow-prev {
    transform: rotate(180deg);
}

.gallery-pagination p {
    font-family: "Avenir Next";
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #201D1F;
    max-width: 194px;
    margin: 0 auto;
}

.you-have-seen {
    margin-bottom: 50px;
    position: relative;
}

.you-have-seen::before {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    max-width: 200px;
    content: "";
    background: -webkit-gradient(linear, right top, left top, color-stop(14%, rgba(255, 255, 255, 0)), to(rgb(255, 255, 255)));
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 14%, rgb(255, 255, 255) 100%);
    z-index: 2;
}

.you-have-seen::after {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    max-width: 200px;
    content: "";
    background: -webkit-gradient(linear, left top, right top, color-stop(14%, rgba(255, 255, 255, 0)), to(rgb(255, 255, 255)));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 14%, rgb(255, 255, 255) 100%);
    z-index: 2;
}

.you-have-seen-header {
    margin-bottom: 135px;
    position: relative;
    z-index: 3;
    font-family: "Nyght Serif";
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
}
  
span.like.active svg path,
span.shop.active svg path {
  fill: #e8e0d3 !important;
  transition: fill 0.3s ease;
}
  
.you-have-seen #swiper2 {
  height: 420px;
  z-index: unset;
}
.you-have-seen #swiper2 .slide_link {
  height: 100%;
  display: block;
}
.you-have-seen #swiper2 .slide_link:hover .btn,
.product-gallery .product-content:hover .btn {
  opacity: 1;
}
.you-have-seen #swiper2 .slide_img {
  background-color: #000;
  position: relative;
  height: 277px;
  width: 100%;
}

.you-have-seen #swiper2 .swiper-button-prev {
  left: 100px;
  bottom: 0 !important;
}

.you-have-seen #swiper2 .swiper-button-next {
  right: 100px;
  bottom: 0 !important;
}

.you-have-seen #swiper2 .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.you-have-seen #swiper2 .btn,
.product-gallery .btn {
  position: absolute;
  z-index: 3;
  transform: translateX(-50%);
  left: 50%;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  opacity: 0;
  transition: var(--trans);
}

.you-have-seen #swiper2 .btn span,
.product-gallery .btn span {
  width: 32px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: var(--trans);
  cursor: pointer;
}

.you-have-seen #swiper2 .btn span svg path,
.product-gallery .btn span svg path {
  transition: var(--trans);
}

.you-have-seen #swiper2 .btn span:hover,
.product-gallery .btn span:hover {
  background-color: rgba(232, 224, 211, 0.3);
}

.you-have-seen #swiper2 .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 296px !important;
  height: 385px !important;
}

.you-have-seen #swiper2 .swiper-slide img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-right: auto;
  margin-left: auto;
}

.you-have-seen #swiper2 .swiper-slide .slide_info {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 17px;
}

.you-have-seen #swiper2 .swiper-slide .slide_info h3,
.product-gallery .product-card .product-info h3 {
  color: var(--small-text, #2b221b);
  text-align: center;
  font-family: "Avenir Next";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.you-have-seen #swiper2 .swiper-slide .slide_info h4,
.product-gallery .product-card .product-info h4 {
  margin-top: 8px;
  color: var(--small-text, #2b221b);
  font-family: "Avenir Next";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.you-have-seen #swiper2 .swiper-slide .slide_info h4 span,
.product-gallery .product-card .product-info h4 span {
  text-decoration-line: line-through;
}

.you-have-seen #swiper2 .slide_link {
  width: 100%;
}

.you-have-seen #swiper2 span.like.active svg path,
.you-have-seen #swiper2 span.shop.active svg path,
.product-gallery span.like.active svg path,
.product-gallery span.shop.active svg path {
  fill: #e8e0d3 !important;
  transition: fill 0.3s ease;
}
.you-have-seen #swiper2 span.like svg path,
.you-have-seen #swiper2 span.shop svg path,
.product-gallery span.like svg path,
.product-gallery span.shop svg path {
  transition: fill 0.3s ease;
}

.swiper-button-prev, .swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    top: auto !important;
    bottom: 21px !important;
    margin-top: 0 !important;
    width: 20px;
    height: 31px;
    z-index: 11;
}

.swiper-button-prev svg {
    transform: scaleX(-1);
}

.swiper-button-prev svg, .swiper-button-next svg {
    pointer-events: none;
}

.swiper-button-prev::after, .swiper-button-next::after {
    display: none;
}

.swiper-button-prev path, .swiper-button-next path {
    transition: var(--trans);
}

.swiper-button-prev:hover path, .swiper-button-next:hover path {
    fill: var(--color_dark);
}
  
@media (max-width: 1019px) {
    h1 {
        font-size: 40px;
    }

    .filters, .sort-by {
        display: none;
    }

    .filter-and-sort {
        display: flex;
        gap: 8px;
        margin-bottom: 36px;
        justify-content: space-between;
    }

    .open-filter {
        width: 48%;
    }

    .toggle-icon {
        font-family: "Nyght Serif";
        font-weight: 400;
        font-size: 32px;
        line-height: 100%;
        margin-left: 7px;
        transition: var(--trans);
    }

    .sort-by-dropdown {
        display: block;
        position: relative;
        width: 48%;
    }

    .sort-by-options {
        position: absolute;
        top: calc(100% + 7px);
        left: 0;
        z-index: 100;
        list-style: none;
        padding: 0 5px;
        margin: 0;
        background-color: var(--color_lite);
        width: 100%;

        max-height: 0;
        overflow: hidden;
        transition: var(--trans);
    }

    .sort-by-toggle {
        background-color: var(--color_lite);
        padding: 10px 18px;
        color: var(--color_dark);
        font-family: "Nyght Serif";
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        text-align: center;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .sort-by-options label {
        display: block;
        border-bottom: 2px solid var(--color_dark);
    }

    .sort-by-options label:hover {
        background-color: var(--color_dark);
        color: var(--color_lite);
    }

    .sort-by-options li:last-child label {
        border-bottom: none;
    }

    .sort-by-options input[type="radio"] {
        display: none;
    }

    .sort-by-dropdown.active .sort-by-options {
        max-height: 500px;
    }

    .sort-by-dropdown.active .toggle-icon {
        transform: rotate(225deg); 
    }

    .product-gallery {
        grid-template-columns: repeat(auto-fill, minmax(296px, 1fr));
        grid-auto-rows: 385px;
        margin-bottom: 32px;
    }

    .product-card.large {
      grid-column: span 1;
      grid-row: span 1;
      padding-bottom: 0;
    }

    .product-card.large .product-content {
        width: 100%;
    }
  
    .product-card.large .product-background {
      background: none;
    }

    .product-content {
        height: 385px;
    }

    .product-img, .product-img img {
        max-height: 277px;
    }

    .gallery-pagination {
        margin-bottom: 30px;
    }

    .you-have-seen {
        margin-bottom: 0;
    }

    .you-have-seen::before, .you-have-seen::after {
        display: none;
    }

    .you-have-seen-header {
        margin-bottom: 30px;
    }

    .you-have-seen #swiper2 .swiper-button-prev, 
    .you-have-seen #swiper2 .swiper-button-next {
        display: none;
    }
}
