main {
    padding-top: 63px;
}

.product-container {
    background-color: black;
    padding-top: 33px;
    padding-bottom: 34px;
}

.product-flex {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.breadcrambs {
    display: flex; 
    gap: 9px;
    align-items: center;
    margin-bottom: 17px;
}

.breadcrambs a {
    font-family: "Avenir Next";
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #ababab;
    transition: var(--trans);
}

.breadcrambs a:hover {
    color: var(--color_dark) !important;
}

.breadcrambs a:last-of-type {
    color: white;
}

.breadcrambs svg {
    width: 7px;
    height: 14px;
    transform: rotate(180deg);
}

.gallery {
    width: calc(99% - 457px);
}

.main-image {  
    overflow: hidden;
    height: 365px;
}

.main-image img {
    width: auto;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
}

.thumbnails {
    display: flex;
    gap: 25px;
    margin-top: 10px;
    padding-bottom: 10px;
    overflow-x: auto;
}

.thumbnails::-webkit-scrollbar {
    height: 8px;
}

.thumbnails::-webkit-scrollbar-track {
    border-radius: 6px;
}

.thumbnails img {
    width: 136px;
    height: 98px;
    cursor: pointer;
    border: 0.5px solid var(--color_lite);
}

.product-info-container {
    width: 457px;
    background-color: white;
    max-height: fit-content;
}

.product-info {
    padding: 17px 29px 26px 22px;
}

h3 {
    font-family: "Nyght Serif";
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: var(--color_dark);
}

.product-info h3 {
    margin-bottom: 6px;
}

.product-info p {
    font-family: "Avenir Next";
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: var(--small-text);
}

.product-price {
    font-family: "Avenir Next";
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: var(--color_dark);
    margin-bottom: 6px;
}

.quantity-controls {
    border-top: 1px solid var(--color_dark);
    border-bottom: 1px solid var(--color_dark);
    padding: 5px 29px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
    
.quantity, .quantity-controls button {
    font-family: "Nyght Serif";
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center
}
    
.quantity-controls button {
    background-color: transparent;
}

.buy-like {
    display: flex;
    gap: 11px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.buy-like button {
    width: 85%;
}

.buy-like span {
  width: 32px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: var(--trans);
  cursor: pointer;
}

.buy-like span path {
    stroke: var(--color_dark);
}

.buy-like span.like.active svg path {
    fill: var(--color_dark) !important;
}

.one-click {
    width: 100%;
}

.slider {
    display: none;
    position: relative;
}

.breadcrmb {
    position: absolute;
    top: 23px;
    left: 16px;
    z-index: 1;
}

.breadcrmb path {
    opacity: 50%;
}

#swiper1 {
  height: 346px;
}
#swiper1 .swiper-wrapper {
  height: 100%;
}
#swiper1 .swiper-slide {
  height: 100%;
  width: 100%;
  position: relative;
}

#swiper1 .swiper-slide img {
  height: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  border: 2px solid var(--color_lite) !important;
  opacity: 1 !important;
  background-color: transparent !important;
  transition: var(--trans);
}

.swiper-pagination-bullet:hover {
    border: 2px solid var(--color_dark) !important;
}
  
.swiper-pagination-bullet-active {
  background-color: var(--color_lite) !important;
}
  
.swiper-pagination {
  bottom: 31px !important;
}

.swiper-button-prev, .swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    top: auto !important;
    bottom: 21px !important;
    margin-top: 0 !important;
    width: 20px;
    height: 31px;
    z-index: 11;
}

.swiper-button-prev svg {
    transform: scaleX(-1);
}

.swiper-button-prev svg, .swiper-button-next svg {
    pointer-events: none;
}

.swiper-button-prev::after, .swiper-button-next::after {
    display: none;
}

.swiper-button-prev path, .swiper-button-next path {
    transition: var(--trans);
}

.swiper-button-prev:hover path, .swiper-button-next:hover path {
    fill: var(--color_dark);
}
  
.product-fillters {
    margin-top: 50px;
    padding-bottom: 40px;
    border-bottom: 2px solid var(--color_dark);
    margin-bottom: 25px;
}

.product-fillters p {
    font-family: "Avenir Next";
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: var(--small-text);
    margin-bottom: 10px;
}

.fillters-container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.fillter-tab {
    background-color: var(--color_lite);
    color: var(--small-text);
    padding: 12px 16px 10px 20px;
    width: fit-content;
    font-family: "Nyght Serif";
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
}

.product-charact {
    margin-bottom: 84.5px;
}

.product-charact h3 {
    margin-bottom: 12.5px;
}

.product-charact p {
    font-family: "Avenir Next";
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--small-text);
    max-width: 628px;
}

.add-to-cart {
    margin-bottom: 50px;
    position: relative;
}

.add-to-cart::before {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    max-width: 200px;
    content: "";
    background: -webkit-gradient(linear, right top, left top, color-stop(14%, rgba(255, 255, 255, 0)), to(rgb(255, 255, 255)));
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 14%, rgb(255, 255, 255) 100%);
    z-index: 2;
  }
  .add-to-cart::after {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    max-width: 200px;
    content: "";
    background: -webkit-gradient(linear, left top, right top, color-stop(14%, rgba(255, 255, 255, 0)), to(rgb(255, 255, 255)));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 14%, rgb(255, 255, 255) 100%);
    z-index: 2;
  }

.add-to-cart-header {
    margin-bottom: 51px;
    position: relative;
    z-index: 3;
}
  
span.like.active svg path,
span.shop.active svg path {
  fill: #e8e0d3 !important;
  transition: fill 0.3s ease;
}
  
.add-to-cart #swiper2 {
  height: 420px;
  z-index: unset;
}
.add-to-cart #swiper2 .slide_link {
  height: 100%;
  display: block;
}
.add-to-cart #swiper2 .slide_link:hover .btn {
  opacity: 1;
}
.add-to-cart #swiper2 .slide_img {
  background-color: #000;
  position: relative;
  height: 277px;
  width: 100%;
}
.add-to-cart #swiper2 .swiper-button-prev {
  left: 20px;
  bottom: 0 !important;
}
.add-to-cart #swiper2 .swiper-button-next {
  right: 20px;
  bottom: 0 !important;
}
.add-to-cart #swiper2 .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.add-to-cart #swiper2 .btn {
  position: absolute;
  z-index: 3;
  transform: translateX(-50%);
  left: 50%;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  opacity: 0;
  transition: var(--trans);
}
.add-to-cart #swiper2 .btn span {
  width: 32px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: var(--trans);
  cursor: pointer;
}
.add-to-cart #swiper2 .btn span svg path {
  transition: var(--trans);
}
.add-to-cart #swiper2 .btn span:hover {
  background-color: rgba(232, 224, 211, 0.3);
}
.add-to-cart #swiper2 .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 296px !important;
  height: 385px !important;
}
.add-to-cart #swiper2 .swiper-slide img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-right: auto;
  margin-left: auto;
}
.add-to-cart #swiper2 .swiper-slide .slide_info {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 17px;
}
.add-to-cart #swiper2 .swiper-slide .slide_info h3 {
  color: var(--small-text, #2b221b);
  text-align: center;
  font-family: "Avenir Next";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.add-to-cart #swiper2 .swiper-slide .slide_info h4 {
  margin-top: 8px;
  color: var(--small-text, #2b221b);
  font-family: "Avenir Next";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.add-to-cart #swiper2 .swiper-slide .slide_info h4 span {
  text-decoration-line: line-through;
}
.add-to-cart #swiper2 .slide_link {
  width: 100%;
}
.add-to-cart #swiper2 span.like.active svg path,
.add-to-cart #swiper2 span.shop.active svg path {
  fill: #e8e0d3 !important;
  transition: fill 0.3s ease;
}
.add-to-cart #swiper2 span.like svg path,
.add-to-cart #swiper2 span.shop svg path {
  transition: fill 0.3s ease;
}

@media (max-width: 1019px) {
    .product-container {
        background-color: unset;
        padding-top: 0;
    }

    .product-container > .container {
        padding: 0;
    }

    .breadcrambs, .gallery {
        display: none;
    }

    .product-flex {
        flex-direction: column;
    }

    .slider {
        display: block;
    }

    .product-info-container {
        width: 100%;
        padding: 0 15px;
    }

    .product-info {
        box-shadow: 0px 0px 14px 0px #54483D1A;
    }

    .product-fillters {
        margin-top: 31px;
        padding-bottom: 21px;
        margin-bottom: 21px;
    }

    .fillters-container {
        gap: 10px;
    }

    .fillter-tab1 {
        order: 1;
    }

    .fillter-tab2 {
        order: 2;
    }

    .fillter-tab3 {
        order: 4;
    }

    .fillter-tab4 {
        order: 3;
    }


    .product-charact {
        margin-bottom: 90px;
    }

    .add-to-cart {
        margin-bottom: 0;
    }

    .add-to-cart::before, .add-to-cart::after {
        display: none;
    }

    .add-to-cart-header {
        margin-bottom: 30px;
    }

    .add-to-cart #swiper2 .swiper-button-prev, 
    .add-to-cart #swiper2 .swiper-button-next {
        display: none;
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--trans);
}

.popup-content {
    width: 0;
    max-width: 596px;
    height: auto;
    min-height: 498px;
    background: white;
    position: relative;
    padding: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(0.9);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

#popup-content1 {
    width: 100%;
    transition: var(--trans);
}

.popup.active, .popup-content.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.popup.active .popup-content {
    transform: scale(1); 
}

.popup-content-order {
    width: 100%;
}

.popup-content-order h3 {
    padding: 10px;
    text-align: center;
    border-top: 2px solid var(--color_dark);
    border-bottom: 2px solid var(--color_dark);
}

.popup .quantity-controls {
    margin-left: 146px;
    margin-bottom: 0;
}

.cart-item {
    padding: 20px 0;
}
    
.cart-item img {
    width: 107px;
    align-self: flex-start;
    margin-top: 5px;
}
    
.item-top {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
    
.item-text {
    display: flex;
    flex-direction: column;
    margin-left: 39px;
    gap: 15px;
}
    
.item-title {
    font-family: "Avenir Next";
    font-weight: 500;
    font-size: 16px;
    line-height: 21.86px;
    color: var(--small-text);
}
    
.item-desc {
    font-family: "Avenir Next";
    font-weight: 500;
    font-size: 16px;
    line-height: 21.86px;
    color: #E4DFD5;
    max-width: 332px;
}
    
.item-price {
    font-family: "Avenir Next";
    font-weight: 500;
    font-size: 20px;
    line-height: 27.32px;
    color: var(--small-text);
    white-space: nowrap;
}

.popup .input {
    width: 100%;
    margin-bottom: 20px;
}

.popup .lite_btn {
    width: 100%;
}

.popup-content-thanks {
    border-top: 2px solid var(--color_dark);
    border-bottom: 2px solid var(--color_dark);
    width: 100%;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
}

.popup-content-thanks p {
    max-width: 324px;
}

.close-btn {
    position: absolute;
    top: 35px;
    right: 26px;
    transform: rotate(45deg);
    background-color: transparent;
    color: var(--color_dark);
    font-family: "Nyght Serif";
    font-weight: 500;
    font-size: 29px;
    line-height: 29px;
}

@media (max-width: 1019px) {
    .cart-item {
        padding: 20px 0 0;
        border: none !important;
    }
     
    .cart-item img {
        width: 89.35px;
    }
      
    .item-text {
        flex-direction: row;
        align-items: center;
        margin-right: 14px;
    }
     
    .item-title {
        font-size: 14px;
        line-height: 19.12px;
    }
    
    .item-desc {
        display: none;
    }
    
    .popup  .quantity-controls {
        padding: 5px;
        margin: 0;
        margin-bottom: 20px;
    }

    .popup-content {
        min-height: 200px;
        height: fit-content;
    }
}