@charset "UTF-8";
@import url(../css/base.css);
@import url(../css/fonts.css);
:root {
  --trans: all 0.35s ease-in-out;
  --color_dark: #453526;
  --color_lite: #ece5db;
  --small-text: #2B221B;
}

header {
  box-shadow: 0px 0px 14px 0px rgba(84, 72, 61, 0.1);
  backdrop-filter: blur(17px);
  background-color: rgba(236, 229, 219, 0.4509803922);
  width: 100%;
  padding-block: 10px;
  position: fixed;
  z-index: 100;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.h__left {
  display: flex;
  align-items: center;
  z-index: 99999;
}

.nav__header {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header__link {
  color: #453526;
  font-family: "Avenir Next";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: var(--trans);
  position: relative;
}
.header__link:hover {
  color: #453526;
}

.header__link:not(.no_active)::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #453526;
  transition: width 0.35s;
}

.header__link:not(.no_active):hover:before {
  width: 100%;
}

.h__right {
  display: flex;
  align-items: center;
  gap: 12px;
}
.h__right .search {
  width: 100%;
  max-width: 140px;
  position: relative;
  margin-right: 4px;
}
.h__right .search input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #453526;
  padding-bottom: 1px;
  color: var(--color_dark);
  font-family: "Avenir Next";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  transition: var(--trans);
  outline: none;
}
.h__right .search input::placeholder {
  color: #453526;
  font-family: "Avenir Next";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.h__right .search input:focus {
  border-bottom-color: #453526;
}
.h__right .search svg {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0px;
}
.h__right .search svg path,
.h__right .search svg circle {
  transition: var(--trans);
}
.h__right .search input:focus + svg path {
  stroke: var(--color_dark);
}
.h__right .search input:focus + svg circle {
  stroke: var(--color_dark);
}

.h__right a,
.backet {
  display: flex;
  align-items: center;
  justify-content: center;
}
.h__right a svg path,
.backet svg path {
  transition: var(--trans);
}
.h__right a svg circle,
.backet svg circle {
  transition: var(--trans);
}
.h__right a:hover svg path,
.backet:hover svg path {
  fill: #d1c1a8;
  stroke: #d1c1a8;
}
.h__right a:hover svg circle,
.backet:hover svg circle {
  fill: #d1c1a8;
  stroke: #d1c1a8;
}

.burger {
  display: none;
}

.burger__icon {
  width: 30px;
  height: 26px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 99999;
  position: relative;
}

.burger__icon div {
  width: 100%;
  height: 3px;
  background-color: #1c1c1c;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.burger__menu {
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: var(--Clear-White, #fff);
  padding: 15px;
  padding-left: 30px;
  box-sizing: border-box;
  transition: right 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
  transition: var(--trans);
  max-height: 100%;
}
.burger__menu .btn {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 95%;
}

.burger__menu.active {
  right: 0;
  opacity: 1;
  visibility: visible;
}

.burger__menu .container {
  padding: 0px;
}

.burger__menu .header__list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding-top: 80px;
  width: 100%;
}

.burger__menu .header__item {
  width: 100%;
  text-align: start;
}

.burger__menu .header__link {
  color: var(--Black, #1d1d1f);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: var(--trans);
  position: relative;
}
.burger__menu .header__link:hover {
  color: var(--color_purple);
}

.header__dropdown_menu_burger .header__link {
  font-size: 24px;
}

.burger__icon.active .line1 {
  transform: rotate(-45deg) translate(-7px, 5px);
  background-color: #1c1c1c;
}

.burger__icon.active .line2 {
  opacity: 0;
}

.burger__icon.active .line3 {
  transform: rotate(45deg) translate(-11px, -9px);
  background-color: #1c1c1c;
}

.burger__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 90px !important;
}
.burger__list li a {
  color: #fff;
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.h__center {
  margin-left: 90px;
}

.burger {
  display: none;
}

@media (max-width: 1150px) {
  .h__center {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger__menu.active {
    display: block;
  }
  .burger__icon {
    display: flex;
  }
  .h__right div,
  .h__right a {
    display: none;
  }
  .h__right {
    position: absolute;
    right: 80px;
    z-index: 9999;
  }
}
.burger__menu .header__list {
  margin-bottom: 40px;
}

main {
  padding-top: 94px;
}

button {
  cursor: pointer;
  border: none;
}

.breadcrmb {
  text-decoration: none;
  color: var(--color_lite);
  display: flex;
  gap: 11px;
  align-items: center;
  font-size: 18px;
  line-height: 24.59px;
  margin-bottom: 19px;
}

.breadcrmb:visited {
  
  color: var(--color_lite);
}

.breadcrmb p {
  font-family: "Avenir Next";
}

h2, h3 {
  color: var(--color_dark);
  font-family: "Nyght Serif";
  font-weight: 400;
}

h2 {
  font-size: 42px;
  line-height: 58.8px;
  margin-bottom: 26px;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.left, .right {
  width: 48%;
}

.tabs {
  margin-bottom: 46px;
}

.tab {
  font-family: "Nyght Serif";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--color_lite);
  padding-top: 1px;
}

.active {
  color: var(--small-text);
  border-bottom: 2px solid var(--small-text);
}

.tab:first-child {
  margin-right: 66px;
}

.description {
  margin-bottom: 10px;
  max-width: 563px;
}

.description p {
  font-family: "Avenir Next";
  font-weight: 500;
  font-size: 16px;
  line-height: 21.86px;
  color: var(--small-text);
}

.login-form {
  text-align: center;
}

.inputs {
  display: flex;
  gap: 24px;
  margin-bottom: 29px;
  text-align: left;
}

.input {
  border-bottom: 2px solid var(--color_lite);
  width: 100%;
  padding-bottom: 10px;
}

.input label {
  font-family: "Avenir Next";
  font-weight: 500;
  font-size: 10px;
  line-height: 13.66px;
  color: var(--color_lite);
}

.input input {
  width: 100%;
  border: none;
  font-family: "Avenir Next";
  font-weight: 500;
  font-size: 16px;
  line-height: 21.86px;
  color: var(--color_dark);
}

input:focus-visible {
  outline: none;
}

.enter {
  border: none;
  text-align: center;
  margin: 0 auto;
  width: 216px;
  margin-bottom: 13px;
}

.forgot-pass {
  font-family: "Avenir Next";
  font-weight: 500;
  font-size: 20px;
  line-height: 27.32px;
  color: var(--small-text);
}

.cart-title {
  border-top: 2px solid var(--color_dark);
  border-bottom: 2px solid var(--color_dark);
  font-size: 32px;
  line-height: 44.8px;
  padding: 20px 32px;
}

.cart-item {
  padding: 19px 30px 24px 32px;
  border-bottom: 2px solid var(--color_lite);
}

.cart-item:nth-last-of-type(2) {
  border-bottom: 2px solid var(--color_dark);
}

.cart-item img {
  width: 107px;
  float: left;
}

.item-details {
  padding-left: 146px;
}

.item-top {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.item-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item-title {
  font-family: "Avenir Next";
  font-weight: 500;
  font-size: 16px;
  line-height: 21.86px;
  color: var(--small-text);
}

.item-desc {
  font-family: "Avenir Next";
  font-weight: 500;
  font-size: 16px;
  line-height: 21.86px;
  color: #E4DFD5;
}

.item-price {
  font-family: "Avenir Next";
  font-weight: 500;
  font-size: 20px;
  line-height: 27.32px;
  color: var(--small-text);
}

.remove-btn {
  font-family: "Nyght Serif";
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  transform: rotate(-45deg);
  background-color: transparent;
}

.quantity-controls {
  width: 100%;
  border-top: 1px solid var(--color_dark);
  border-bottom: 1px solid var(--color_dark);
  padding: 5px 29px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quantity, .quantity-controls button {
  font-family: "Nyght Serif";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;

}

.quantity-controls button {
  background-color: transparent;
}

.cart-summary {
  padding-top: 19px;
  padding-bottom: 13px;
  border-bottom: 2px solid var(--color_dark);
  margin-bottom: 16px;
}
.summary-text  {
  font-family: "Avenir Next";
  font-weight: 500;
  font-size: 16px;
  line-height: 21.86px;
  margin-bottom: 5px;
  color: var(--small-text);
}

.cart-total {
  font-family: "Nyght Serif";
  font-weight: 400;
  font-size: 32px;
  line-height: 44.8px;
  margin-bottom: 0;
  color: var(--color_dark);
}

.cart-summary span {
  float: right;
}

.order {
  width: 100%;
  margin-bottom: 50px;
}

footer .top {
    background: #d1c1a8;
    padding-block: 80px;
  }
  footer .top .grid4 {
    display: grid;
    grid-template-columns: 180px 1fr 1fr 1fr;
    gap: 90px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
  }
  footer .top .grid4 .btn_home {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
  footer .top .grid4 .btn_home svg path {
    transition: var(--trans);
  }
  footer .top .grid4 .btn_home:hover svg path {
    fill: var(--color_dark) !important;
  }
  footer .top .col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  footer .top .col1 .soc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    margin-top: 60px;
  }
  footer .top .col1 .soc a svg path {
    transition: var(--trans);
  }
  footer .top .col1 .soc a:hover svg path {
    fill: var(--color_dark);
  }
  footer .top .col2 {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
  }
  footer .top .col2 a {
    color: #453526;
    font-family: "Avenir Next";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  footer .top .col3 {
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  footer .top .col3 .box {
    display: flex;
    justify-content: start;
    gap: 15px;
    margin-bottom: 20px;
  }
  footer .top .col3 .box .info {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  footer .top .col3 .box .info h3 {
    color: #453526;
    font-family: "Nyght Serif";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
  }
  footer .top .col3 .box .info p {
    color: #453526;
    font-family: "Avenir Next";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 5px;
  }
  footer .top .col4 .box {
    display: flex;
    justify-content: start;
    gap: 15px;
    margin-bottom: 20px;
  }
  footer .top .col4 .box a {
    color: #453526;
    font-family: "Avenir Next";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  footer .bot {
    padding-block: 10px;
  }
  footer .bot .grid5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  footer .bot .grid5 p,
  footer .bot .grid5 a {
    color: var(--small-text, #2b221b);
    text-align: center;
    font-family: "Avenir Next";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }